<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.soma.Pashion_Today">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <meta-data
        android:name="com.kakao.sdk.Appkey"
        android:value="@string/kakao_app_key"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.soma.Pashion_Today.Page.RecommendDetail"
                android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
                android:name="com.soma.Pashion_Today.Page.Recommend"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name="com.soma.Pashion_Today.Page.DailyLook"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name="com.soma.Pashion_Today.Page.Closet"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name="com.soma.Pashion_Today.Page.CalendarActivity"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name="com.soma.Pashion_Today.Page.Pashion"
                android:label="@string/title_activity_pashion"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.soma.Pashion_Today.Login.RegisterActivity" />
        <activity android:name="com.soma.Pashion_Today.Login.LoginActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.soma.Pashion_Today.httpmultipart.file_provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_path" />
        </provider>
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
    </application>

</manifest>