@import './utils.scss';

.ErrorPage {
  .HandleBar {
    display: flex;
    justify-content: space-between;
    width: $width;
    padding: 0 $padding;
    color: $v-black;
    font-size: 2vw;
    font-weight: bold;
    padding-top: 5vmin;
    padding-bottom: 1vmin;
    @include center-margin($width, $padding);
    border-bottom: 2px solid $v-black;
    button {
      font-size: 2vw;
      padding: 0.3vw 2vw;
      background-color: $violet2;
      color: $white;
      border: 0;
      border-radius: 1vw;
    }
  }
}

@include respond(wide-screen) {
  $width: 1024 * 0.65px;
  $padding: 1024 * 0.025px;
  .ErrorPage {
    .HandleBar {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      width: $width;
      padding: 0 $padding;
      color: $v-black;
      font-size: 2 * 10px;
      font-weight: bold;
      padding-top: 5vmin;
      padding-bottom: 1vmin;
      border-bottom: 2px solid $v-black;
      button {
        font-size: 2 * 10px;
        padding: 0.3 * 10px 2 * 10px;
        background-color: $violet2;
        color: $white;
        border: 0;
        border-radius: 1 * 10px;
      }
    }
  }
}
