@import './utils.scss';

.Index {
  display: grid;
  align-content: center;
  grid-template-columns: 3fr 2fr;
  grid-gap: 7vw;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/background/index_background.jpg');
  background-size: cover;
  .TitleView {
    justify-self: end;
    color: $white;
    .Title {
      font-family: $noto-sans;
      font-weight: bolder;
      font-size: 10vw;
      letter-spacing: 8px;
      line-height: 1.1;
      margin-top: -2vw;
    }
    .Subtitle {
      margin-top: 1vw;
      padding-left: 5px;
      font-family: $apple-gothic;
      font-size: 3vw;
      letter-spacing: 3px;
      word-spacing: 4px;
      line-height: 1.8;
    }
    .Describe {
      padding-left: 5px;
      font-size: 15px;
      line-height: 1.5;
    }
  }
  .Interface {
    width: 25vw;
    height: 25vw;
    max-width: 290px;
    max-height: 290px;
    padding: 20px;
    border-radius: 10px;
    background-color: transparentize($gray2, 0.1);
    text-align: center;
    .Logo {
      width: 13vw;
      max-width: 150px;
      height: auto;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 35px;
    }
    .KakaoLogin,
    .NaverLogin {
      position: relative;
      width: 14vw;
      max-width: 160px;
      height: 28px;
      line-height: 28px;
      font-size: 11px;
      border-radius: 14px;
      margin: 0 auto;
      color: $v-black;
      padding: 0px 20px;
      margin-bottom: 15px;
      .icon {
        position: absolute;
        width: 20px;
        height: 20px;
        left: 5px;
        top: 4px;
      }
    }
    .KakaoLogin {
      background-color: $yellow;
    }
    .NaverLogin {
      color: $white;
      background-color: $green2;
    }
  }
}
