@import './utils.scss';

.MainBar {
  .ghost {
    color: $v-black;
    font-size: 0;
  }
  $width: 85vw;
  $margin: 7.5vw;
  $height: 60px;
  $popup-width: 90px;
  $dropdown-width: 50px;
  position: fixed;
  top: 4vh;
  z-index: 10000;
  margin: 0 $margin;
  width: $width;
  height: $height;
  font-family: $apple-gothic;
  color: $white;
  background-color: $v-black;
  border-radius: $height / 2;
  .flexButtons {
    height: $height;
    display: grid;
    grid-template-columns: 20fr 40fr 90fr 17fr 20fr;
    .MainLogo {
      align-self: center;
      width: 150px;
    }
    .pageLink {
      align-self: center;
      padding-left: 3vw;
      justify-self: start;
      a {
        margin-right: 3.5vw;
        font-size: 13px;
        font-weight: lighter;
      }
    }
    .Icons {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-self: flex-start;
      .AlarmIcon,
      .ProfileIcon {
        width: $height * 0.5;
        height: auto;
        cursor: pointer;
        margin: 0 10px;
      }
      .ProfileIcon {
        width: $height * 0.45;
        margin: 0 11.5px;
      }
    }
  }
  .dropdown {
    align-items: center;
    width: $dropdown-width;
    position: relative;
  }
  .PopUpProfile,
  .PopUpAlarm {
    text-align: start;
    position: absolute;
    top: $height;
    left: -$popup-width/2 + $dropdown-width/2;
    color: black;
    width: $popup-width;
    height: 100px;
    box-shadow: 0 0 3px 0.6px $gray5;
    background-color: white;
    border-radius: 5px;
    &:after {
      content: ' ';
      position: absolute;
      border-bottom: 10px solid white;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      top: -10px;
      left: $popup-width/2 - 10px;
    }
    &:before {
      content: ' ';
      position: absolute;
      border-bottom: 10px solid $gray4;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      top: -11px;
      left: $popup-width/2 - 10px;
    }
    .ProfileBody {
      font-size: 11px;
      padding: 15px 15px 0px 20px;
      .StarNum {
        display: flex;
        align-items: center;
        justify-items: center;
        .StarIcon {
          width: 15px;
          margin-right: 5px;
        }
        .StarNumber {
          height: 15px;
          padding-top: 7px;
        }
        color: $violet3;
        margin-bottom: 13px;
      }
      .LogOutLink,
      .MyPageLink {
        margin-bottom: 12px;
        padding-left: 2px;
        cursor: pointer;
      }
    }
    .AlarmBody {
      font-size: 11px;
      padding: 15px 15px 0px 20px;
    }
  }
}
@include respond(small-screen) {
  .MainBar {
    width: 100vw;
    height: 50px;
    top: 0;
    border-radius: 0;
    margin: 0;
    .flexButtons {
      height: 50px;
      .MainLogo {
        width: 110px;
      }
      .pageLink {
        align-self: center;
        a {
          margin-right: 3.5vw;
          font-size: 11px;
          font-weight: lighter;
        }
      }
      .Icons {
        .AlarmIcon,
        .ProfileIcon {
          width: 20px;
          margin: 0 5px;
        }
        .ProfileIcon {
          width: 18px;
          margin: 0 6px;
        }
        .dropdown {
          align-items: center;
          width: 30px;
          position: relative;
        }
      }
    }
    .PopUpProfile,
    .PopUpAlarm {
      $popup-width: 60px;
      text-align: start;
      position: absolute;
      top: 45px;
      left: -30px;
      color: black;
      width: $popup-width;
      height: 65px;
      box-shadow: 0 0 3px 0.6px $gray5;
      background-color: white;
      border-radius: 5px;
      &:after {
        content: ' ';
        position: absolute;
        border-bottom: 5px solid white;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        top: -5px;
        left: $popup-width/2 + 10px;
      }
      &:before {
        content: ' ';
        position: absolute;
        border-bottom: 5px solid $gray4;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        top: -6px;
        left: $popup-width/2 + 10px;
      }
      .ProfileBody {
        font-size: 10px;
        padding: 5px 5px 0px 5px;
        .StarNum {
          display: flex;
          align-items: center;
          justify-items: center;
          .StarIcon {
            width: 14px;
            margin-right: 5px;
          }
          .StarNumber {
            height: 10px;
            padding-top: 4px;
          }
          color: $violet3;
          margin-bottom: 10px;
        }
        .LogOutLink,
        .MyPageLink {
          margin-bottom: 7px;
          padding-left: 2px;
          cursor: pointer;
        }
      }
      .AlarmBody {
        font-size: 10px;
        padding: 5px 5px 0px 5px;
      }
    }
  }
}
.children {
  min-height: 100vh;
}
.Footer {
  width: 100vw;
  height: 15vh;
  margin-top: 10vh;
  background-color: $v-black;
}

.inheritImage {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
