.Requestor {
  border: 1px solid gray;
  height: 120px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
}
.LookImages {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.LookImage {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
