@import './utils.scss';

.Recommend,
.RecommendSubmit {
  margin-top: calc(10vh + 60px);
  color: $v-black;
  .Requestor {
    font-family: $noto-sans;
    width: $width;
    padding: $padding;
    @include center-margin($width, $padding);
    border: 1px solid $gray3;
    border-radius: 1vw;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 25fr 57fr 50fr;
    .Profile {
      background-color: $gray3;
      border-radius: 0.8vw;
      height: 18vw;
      .ProfileImg {
        background-color: $gray2;
        border-radius: 0.8vw 0.8vw 0px 0px;
        padding: 1.5vw 2.5vw;
        img {
          width: 8vw;
          height: 8vw;
          border-radius: 4vw;
        }
      }
      .ProfileInfo {
        height: 5vw;
        text-align: center;
        font-size: 2.2vw;
        font-weight: lighter;
        padding: 1vw;
        .Grade {
          display: flex;
          font-size: 1.5vw;
          align-items: center;
          justify-content: center;
          margin-top: 0.8vw;
          font-weight: normal;
          img {
            width: 1.3vw;
            margin-right: 0.3vw;
          }
        }
      }
    }
    .UserInterface {
      padding: 3vw;
      border-right: 7px solid $gray2;
      line-height: 1.5;
      font-size: 1.5vw;
      .ClosetViewButton {
        margin-top: 3vh;
        background-color: $violet2;
        font-size: 1vw;
        width: max-content;
        border-radius: 1vw;
        padding: 0.4vw 1.4vw;
        color: $white;
        display: flex;
        align-items: center;
        justify-items: center;
        img {
          width: 1.4vw;
          margin-right: 1vw;
        }
      }
    }
    .ScheduleInterface {
      padding: 0 2.5vw 0 4vw;
      .Date {
        font-size: 2.2vw;
        text-align: center;
      }
      .DayBar {
        display: grid;
        grid-template-columns: auto 1fr;
        margin-top: 1vw;
        grid-gap: 1vw;
        .DDay {
          font-size: 1.1vw;
          padding-top: 1.1vw;
          padding-left: 0.3vw;
          padding-right: 0.3vw;
          padding-bottom: 0.2vw;
          width: max-content;
          background-image: url('../img/dday_icon.png');
          background-size: 100% 100%;
          background-repeat: no-repeat;
          color: $violet2;
        }
        .Whether {
          display: grid;
          grid-template-columns: 1fr 2.5fr 1fr 2fr;
          font-size: 1.2vw;
          align-self: center;
          justify-items: center;
          align-items: center;
          border-radius: 3vw;
          background-color: $gray2;
          padding: 0.5vw 1vw;
          .tempicon {
            width: 50%;
          }
        }
      }
      .Title {
        font-size: 1.8vw;
        color: $gray5;
        margin: 2vh 0;
      }
      .Introduction {
        font-size: 1.3vw;
        line-height: 1.5;
        color: $gray5;
      }
    }
  }
  .RequestorCloset {
    margin-top: 0vh;
    padding-top: 0vh;
    .Clothes {
      position: relative;
      .CheckIcon {
        position: absolute;
        top: 0.5vw;
        left: 0.5vw;
        width: 2vw;
      }
    }
    .LookForm {
      margin-top: 5vh;
      background-color: $gray3;
      border-radius: 1vw;
      width: $width;
      padding: $padding;
      @include center-margin($width, $padding);
      display: grid;
      grid-template-columns: auto 1fr;
      .LookImages {
        background-color: $gray1;
        width: 25vw;
        height: 32vw;
        border-radius: 0.6vw 0px 0px 0.6vw;
        position: relative;
        .plusicon,
        .minusicon {
          position: absolute;
          width: 1.8vw;
          bottom: 0.8vw;
          left: 1vw;
        }
        .minusicon {
          left: 3.5vw;
        }
      }
      .LookInfo {
        border-radius: 0px 0.6vw 0.6vw 0px;
        background-color: $w-violet3;
        padding: 3vw;
        position: relative;
        .LookTitle {
          display: flex;
          align-items: center;
          img {
            width: 1.5vw;
            margin-right: 2vw;
          }
          input {
            color: $v-black;
            font-size: 2.8vw;
            background-color: inherit;
            border: 0;
          }
        }
        textarea {
          margin-top: 3vh;
          background-color: inherit;
          display: block;
          line-height: 150%;
          border: 0px;
          width: 100%;
          resize: none;
          box-sizing: border-box;
          color: $v-black;
          font-size: 1.5vw;
        }
        button {
          position: absolute;
          bottom: 3vw;
          right: 3vw;
          font-size: 1.3vw;
          padding: 0.5vw 1.5vw;
          background-color: $violet2;
          color: $white;
          border: 0;
          border-radius: 5px;
        }
      }
    }
  }
}
