@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

$white: #ffffff;
$gray1: #f7f8f9;
$gray2: #e2e1e4;
$gray3: #d2cfd5;
$gray4: #a0a0a0;
$gray5: #898989;
$w-violet1: #f8f6fb;
$w-violet2: #f8f3fa;
$w-violet3: #e8e1eb;
$w-violet4: #d1caea;
$y-orange: #ffc000;
$r-orange: #ff8074;
$sky-blue: #00a0e9;
$green1: #08ae00;
$green2: #00b433;
$violet1: #7f67d3;
$violet2: #8957a1;
$violet3: #6a28c6;
$v-black: #3f3a46;
$black: #000000;
$yellow: #ffe204;

$noto-sans: 'Noto Sans KR', 'sans-serif';
$arial-black: 'Arial Black', 'Arial';
$apple-gothic: 'AppleGothic';

$width: 75vw;
$width-padding: 80vw;
$padding: 2.5vw;

@mixin center-margin($width, $padding) {
  margin-left: (100vw-$width) * 0.5-$padding;
  margin-right: (100vw-$width) * 0.5-$padding;
}

@mixin items-width($width, $gap, $repeat) {
  $items-width: ($width - $gap * ($repeat - 1)) / $repeat;
}

$image-ratio: 32/25;
